<div id="addUser" class="content">
    
    <ul id="user" class="list"></ul>
    
</div>

<script src="/adminroot/js/album.js"></script>
<script src="/adminroot/js/user.js"></script>

<script>
    $(document).ready(function () {
        user.init();
        album.init();
    })
</script>    
    