<div id="sidebar" class="background-color-blue hidden-tablet">
    <section class="user-data text-center margin-top-small margin-bottom-small">
        <span class="user-image background-color-white"></span>
        <a id="logout" class="btn btn-circle logout background-color-red" asp-area="Backoffice" asp-controller="User" asp-action="Logout"></a>
        <p id="username" class="color-white text-center margin-top-xsmall"></p>
    </section>
    <section class="manage margin-top-small margin-bottom-small">
        <ul class="control-list margin-right-small margin-left-small">
            <li id="user" class="color-white padding-left-medium border-radius-small active">
                <a class="color-white" asp-area="Backoffice" asp-controller="User" asp-action="Index">Utenti</a>
            </li>
            <li id="siteTree" class="color-white padding-left-medium border-radius-small">
                <a class="color-white" asp-area="Backoffice" asp-controller="SiteTree" asp-action="Index">Alberatura</a>    
            </li>
            <li id="photo" class="color-white padding-left-medium border-radius-small">
                <a class="color-white" asp-area="Backoffice" asp-controller="Photo" asp-action="Index">Foto</a>    
            </li>
            <li id="video" class="color-white padding-left-medium border-radius-small">
                <a class="color-white" asp-area="Backoffice" asp-controller="Video" asp-action="Index">Video</a>    
            </li>
            <li id="podcast" class="color-white padding-left-medium border-radius-small">
                <a class="color-white" asp-area="Backoffice" asp-controller="Podcast" asp-action="Index">Podcast</a>    
            </li>
            <li id="home" class="color-white padding-left-medium border-radius-small">
                <a class="color-white" asp-area="Backoffice" asp-controller="Home" asp-action="Index">Home page</a>    
            </li>
            <li id="review" class="color-white padding-left-medium border-radius-small">
                <a class="color-white" asp-area="Backoffice" asp-controller="Review" asp-action="Index">Commenti</a>    
            </li>
        </ul>
    </section>
</div>