<div id="addPost" class="content">
    <ul id="post" class="list"></ul>
</div>

<script src="~/js/lib/summernote.js"></script>
<script src="~/js/post.js"></script>

<script>
    $(document).ready(post.init)
</script>