@model HomeModel

<h3 class="text-center">Ultimi post</h3>
<div id="lastPost" class="padding-bottom-small">
    <div class="carousel-wrapper">
        <div class="owl-carousel owl-theme">
            @foreach (var post in Model.PostDisplays)
            {   
                <div id="@post.id" class="item carousel__photo border-radius-small box-shadow" style="background-image: url('@post.coverImage')">
                    <h3 class="text-center color-white border-radius-small"> 
                        <a class="text-center color-white border-radius-small" href="@post.slug"> @post.title </a>
                    </h3>
                </div>
            }
        </div>
    </div>
</div>
