@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Knewave|Nosifer|Titan+One');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
*
{ 
    margin: 0; 
    padding: 0; 
    outline: none; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    vertical-align: top; 
    text-align: left; 
    font-family: "Montserrat", sans-serif, "-apple-system","system-ui","roboto", "BlinkMacSystemFont", "Helvetica Neue",
    "Lucida Grande","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body { height: 100%; width: 100%; }
body 
{
	position: relative;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	background:rgba(255,255,255,1);
    color: #2E2B33;
    min-width: 320px;
    -webkit-overflow-scrolling: touch;    
    background-color: #fafafa;
    overflow-x: hidden;
}
h1 { font-size: 2.5em; font-weight: lighter; margin-bottom: .3em; margin-top: .1em; }
h2 { font-size: 2em; font-weight: lighter; margin: .6em 0; }
h3 { font-size: 1.5em; font-weight: lighter; margin: .6em 0; }
h4 { font-size: 1.2em; font-weight: bold; margin: .5em 0; }
ul{ list-style-type: none; }
p,li,a { font-size: 18px; line-height: 27px;  color: #2E2B33; text-decoration: none; }

.color-black{ color:  #212121; }
.color-white{ color: #fff!important; }
.color-red{ color: #E8594E!important; }
.color-pink-light{ color: #FCBDB2; }
.color-blue-light{ color: #73AFBA; }
.color-blue{ color: #1C2E3D; }

.background-color-white{ background-color: #fff; }
.background-color-grey{ background-color: #ECECEC; }
.background-color-black{ background-color:  #212121; }
.background-color-red{ background-color: #E8594E; }
.background-color-pink-light{ background-color: #FCBDB2; }
.background-color-blue-light{ background-color: #73AFBA; }
.background-color-blue{ background-color: #1C2E3D; }

.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

.text-uppercase{ text-transform: uppercase; }
.text-capitalize{ text-transform: capitalize; }

.font-weight-400{ font-weight: 400; }
.font-weight-500{ font-weight: 500; }
.font-weight-600{ font-weight: 600; }

.margin-xsmall{ margin: 10px; }
.margin-top-xsmall{ margin-top: 10px; }
.margin-left-xsmall{ margin-left: 10px; }
.margin-right-xsmall{ margin-right: 10px; }
.margin-bottom-xsmall{ margin-bottom: 10px; }

.margin-top-small{ margin-top: 20px; }
.margin-left-small{ margin-left: 20px; }
.margin-right-small{ margin-right: 20px; }
.margin-bottom-small{ margin-bottom: 20px; }

.margin-top-medium{ margin-top: 50px; }
.margin-left-medium{ margin-left: 50px; }
.margin-right-medium{ margin-right: 50px; }
.margin-bottom-medium{ margin-bottom: 50px; }

.margin-remove{ margin: 0; }

.padding-xsmall{ padding: 10px; }
.padding-top-xsmall{ padding-top: 10px; }
.padding-left-xsmall{ padding-left: 10px; }
.padding-right-xsmall{ padding-right: 10px; }
.padding-bottom-xsmall{ padding-bottom: 10px; }

.padding-small{ padding: 20px; }
.padding-top-small{ padding-top: 20px; }
.padding-left-small{ padding-left: 20px; }
.padding-right-small{ padding-right: 20px; }
.padding-bottom-small{ padding-bottom: 20px; }

.padding-medium{ padding: 50px; }
.padding-top-medium{ padding-top: 50px; }
.padding-left-medium{ padding-left: 50px; }
.padding-right-medium{ padding-right: 50px; }
.padding-bottom-medium{ padding-bottom: 50px; }

.padding-large{ padding: 70px; }
.padding-top-large{ padding-top: 70px; }
.padding-left-large{ padding-left: 70px; }
.padding-right-large{ padding-right: 70px; }
.padding-bottom-large{ padding-bottom: 70px; }

.padding-remove{ padding: 0px; }
.padding-bottom-remove{ padding-bottom: 0; }
.box-shadow{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.border-radius-small{ border-radius: 5px; }
.border-radius-medium{ border-radius: 20px; }

.btn{ padding: 0px; left: unset;  border: 1px solid transparent; cursor: pointer; text-transform: uppercase; background-size: contain; background-position: center center; background-repeat: no-repeat; }
.btn:hover{ opacity: .8; border-bottom: 1px solid transparent;}

.btn.close{ background-image: url('../img/close.png'); float: unset; opacity: 1; }
.btn.add, .btn.add-child{ background-image: url('../img/plus.png'); }
.btn.remove{ background-image: url('../img/delete.png'); }

.btn-rounded{ border-radius: 40px; }
.btn-circle{ border-radius: 50%; }

.hidden{ display: none; }

.show-tablet{display: none; }
.hidden-tablet{ transform: translateX(0px); transform-style: preserve-3d; transition: .3s ease-in-out; }

input, select, textarea{ position: relative; margin: 0 auto; padding: 10px 5px; width: 80%; font-size: 16px; background-color: transparent; border: 1px solid transparent; border-bottom: 1px solid #1C2E3D; }

/** Switch **/
.btn-switch{ visibility: hidden; }
.btn-switch + label{ position: relative; display: block; margin: 0 auto; width: 60px; height: 30px; border-radius: 30px; background: #dad9df; cursor: pointer; transition: .25s ease-in-out; }
.btn-switch:checked + label{ box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1); }
.btn-switch + label::before{ content: ''; position: relative; display: inline-block; width: 30px; height: 30px; border-radius: 100%; background-color: #fff; box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd; transition: .25s ease-in-out; }
.btn-switch:checked + label::before{ left: 30px; box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3); transition: .25s ease-in-out; }
.btn-switch + label::after{ content: attr(data-off); position: absolute; display: inline-block; top: 6px; left: -115px; width: 110px; text-align: right; font-size: 14px; font-weight: 600; color: #2A363B; word-spacing: nowrap; transition: .25s ease-in-out; }
.btn-switch:checked + label::after{ content: attr(data-on); left: 70px; width: 110px; text-align: left; color:rgb(19, 191, 17); }
/** End switch **/

/* Overlay */
div#overlay{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.9); text-align: center; z-index: 9999; }
div#overlay > span{ position: relative; display: block; margin: 0 auto; top: 40px; width: 90%; max-width: 500px; height: 40px; background-size: contain; background-position: right center; background-repeat: no-repeat; cursor: pointer; }
div#overlay > span.error{ height: 80px; font-size: 18px; background-color: #E8594E; }
div#overlay > span.success{ padding: 10px; height: 70px; font-size: 18px; font-weight: 600; background-color: #4caf50; }
/* END overlay */

main{ position: relative; display: inline-block; margin-top: 0; width: 100%; height: 100%; }

/* SKELETON */
span.skeleton{ position: relative; display: inline-block; margin: 20px 5px 0px 0px; width: 80px; height: 80px; background-repeat: no-repeat; background-size: cover; background-position: center center; }
span.skeleton > p.skeleton{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; line-height: 80px; font-size: 28px; background-color: rgba(0,0,0,.6); border-radius: 5px; }
span.skeleton > video{ max-width: 80px; max-height: 80px; }
/* END SKELETON */

/* PAGINATORE */
div.paginator{ position: absolute; display: inline-block; left: 0; right: 0; bottom: 10px; }
div.paginator > span.btn{ position: relative; display: inline-block; border-radius: 50%; width: 40px; height: 40px; line-height: 40px; background-color: #fff; color: #000; }
div.paginator > span.btn.active{ background-color: #73AFBA; color: #fff; }
/* END PAGINATORE */

video{ max-width: 100%; }

/* HEADER */
header{ position: relative; margin: 0; background-color: #757575; height: 570px; background-size: cover; background-position: center center; background-repeat: no-repeat; } 
header:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 100%);
}
header > h1{ position: absolute; left: 0; right: 0; top: 40%;font-size: 3em; }
header > h2{ position: absolute; left: 0; right: 0; top: 47%; }

header > div.nav-container{ position: relative; display: inline-block; width: 100%; z-index: 9999; transition: 0.4s; }
header > div.nav-container.fixed{ position: fixed; padding: 4px; height: 50px; background-color: #1C2E3D; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); }
header ul.social{ position: absolute; display: none; width: 35%; z-index: 9996;}

ul.social li{ position: relative; display: inline-block;  width: 40px; height: 40px; background-size: 26px; background-position: center center; background-repeat: no-repeat; cursor: pointer; }
ul.social li.facebook{ background-image: url('../img/social/facebook.png') }
ul.social li.instagram{ background-image: url('../img/social/instagram.png') }
ul.social li.cartorange{ background-image: url('../img/sponsor/cartorange.png'); }
ul.social li > a{ position: relative; display: inline-block; width: 100%; height: 100%; }

h1.title{ position: absolute; display: inline-block; font-size: 28px; font-weight: 600; margin-bottom: .1em; width: 100%; z-index: 9990; cursor: pointer; }
h1.title > a{ font-size: 28px; line-height: 33px; }

header ul.category{ position: absolute; display: none; right: 10px; width: 60%; z-index: 9991; }
header ul.category > li{ display: inline-block; padding: 0 25px; line-height: 40px; cursor: pointer; background-size: 26px; background-position: 100% 5px; background-repeat: no-repeat; }
header ul.category > li[child="close"]{ background-image: url('../img/chevron-up.png'); max-height: 35px; overflow: hidden; }
header ul.category > li[child="open"]{ background-image: url('../img/chevron-down.png'); max-height: unset; color: #73AFBA!important; }
header ul.category > li > a{ line-height: 40px; }

ul.category > li[child="open"] > ul > li a:hover, ul.category > li[child="open"] > ul > li a:active{ color: #73AFBA!important; }
ul.category > li a:hover, ul.category > li a:active{ color: #73AFBA!important; }

header > div.nav-container > span.menu{ position: absolute; display: inline-block; right: 10px; padding: 6px 0; height: 40px; line-height: 10px; text-align: center; cursor: pointer; z-index: 9991; }
header > div.nav-container > span.menu > span{ display: block; margin: 5px auto; width: 30px; height: 3px; }

header > div.nav-container > span.menu.active{ z-index: 9998; }
header > div.nav-container > span.menu.active > span:nth-child(1){transform: rotate(45deg) translate(6px, 6px); transform-style: preserve-3d; transition: .3s ease-in-out;}
header > div.nav-container > span.menu.active > span:nth-child(2){ display: none; }
header > div.nav-container > span.menu.active > span:nth-child(3){transform: rotate(-45deg); transform-style: preserve-3d; transition: .3s ease-in-out;}

header div.about-us{ position: absolute; display: inline-block; left: 20px; bottom: 175px; max-height: 250px; width: 70%; overflow: hidden; }
header div.about-us > p{ font-size: 16px; line-height: 24px; }

/* SEARCH */
header input.search-bar{ 
    position: absolute; 
    left: 20px; 
    bottom: 110px; 
    line-height: 20px; 
    width: 70%; 
    background-image: url('../img/search.png'); 
    background-size: 26px;
    background-position: 98% center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    cursor: text;
    font-size: 16px;
}
section#search-result{ position: absolute; display: inline-block; top: 80%; left: 20px; width: 70%; min-height: 360px; max-height: 360px; overflow-y: scroll; z-index: 9997; }
section#search-result > ul > li{ position: relative; display: inline-block; margin: 5px; padding: 5px; max-width: 95%; max-height: 80px; overflow: hidden; border-bottom: 1px solid #1C2E3D; cursor: pointer; }
section#search-result > ul > li:hover{ background-color: #FCBDB2; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
section#search-result > ul > li > span{ position: relative; display: inline-block; width: 70px; height: 70px; background-size: cover; background-position: center center; background-repeat: no-repeat; }
section#search-result > ul > li > span.text-container{ width: auto; max-width: 75%;}
section#search-result > ul > li > a{ position: absolute; display: inline-block; top: 0; left: 0; right: 0; height: 100%; }
section#search-result > ul > li h1{ font-size: 14px; line-height: 21px; }
section#search-result > ul > li span{ font-size: 12px; line-height: 18px; }
section#search-result > ul > li p{ font-size: 12px; line-height: 18px; }

/* SIDEBAR */
section#sidebar{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: 0; z-index: 9997; transform: translateX(4000px); }
section#sidebar > * { position: relative; display: inline-block; width: 100%; }
section#sidebar > ul.category > li{ padding-left: 20px; line-height: 35px; cursor: pointer; background-size: 26px; background-position: 90% 5px; background-repeat: no-repeat; }
section#sidebar.active{  transform: translateX(0); transform-style: preserve-3d; transition: .3s ease-in-out; z-index: 9999; }
section#sidebar.active + header > div.nav-container.fixed{ box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; background-color: transparent; }
section#sidebar.active + header > div.nav-container > h1{ display: none; }
section#sidebar ul > li[child="close"]{ background-image: url('../img/chevron-up.png'); max-height: 35px; overflow: hidden; }
section#sidebar ul > li[child="open"]{ background-image: url('../img/chevron-down.png'); max-height: unset; }

/* MAIN */
main{ position: relative; display: inline-block; margin: 0; width: 100%; height: auto; }
main div.newsletter{ position: relative; display: inline-block; width: 100%; height: 570px; background-color: #757575; background-size: cover; background-repeat: no-repeat; background-position: center center; }
main > div.newsletter > form{ position: relative; display: block; margin: 0 auto; padding: 0 0 15px; top: 10px; background-color: rgba(0,0,0,.9); }
main > div.newsletter > form input[type="text"]{ color: #fff; border-bottom: 1px solid #fff; }
main > div.newsletter > form > div{ display: block; margin: 0 auto; width: 80%; }
main > div.newsletter > form input[type="text"]{ display: block; margin: 20px auto; width: 75%; color: #fff; border-bottom: 1px solid #fff; cursor: text; }
main > div.newsletter > form input[type="submit"]{ position: relative; width: 140px; line-height: 30px; cursor: pointer; }

/* LAST POST */
main > div#lastPost{ width: 100%; }
div#lastPost div.item.carousel__photo{ max-width: 335px; margin: 0 auto; }
.carousel-wrapper{ width: 90%; margin: 0 auto; }
section.card-head{ position: relative; display: inline-block; width: 100%; height: 200px; background-size: cover; background-position: center center; background-repeat: no-repeat; z-index: 9994; }
section.card-body{ position: relative; display: inline-block; width: 95%; min-height: 200px; max-height: 280px; overflow: hidden; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
section.card-body > h3{ line-height: .3em; }
section.card-body > p{ font-size: 14px; line-height: 21px; }
section.card-body + a.btn{ position: absolute; display: inline-block; left: 35px; right: 35px; bottom: 25px; line-height: 50px; }

.owl-dots{ text-align: center; }
.owl-dots > .owl-dot{ margin: 5px 3px; width: 15px; height: 15px; border-radius: 50%; background-color: #fff!important; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); }
.owl-dots > .owl-dot.active{ background-color: #C3C9C7!important; border: 1px solid transparent; }

/* INSTAGRAM */
div.instagram > h2{ background-image: url('../img/social/instagram-black.png'); background-size: 48px; background-position: 15%; background-repeat: no-repeat; }
div.instagram div.item.carousel__photo{ border-top-left-radius: 5px; border-top-right-radius: 5px; }
div.instagram section.image{ position: relative; display: inline-block; width: 100%; height: 250px; background-size: cover; background-position: center center; background-repeat: no-repeat; border-top-left-radius: 5px; border-top-right-radius: 5px; }
div.instagram section.user-data{ position: relative; display: inline-block; width: 100%; padding: 15px 10px; }
div.instagram section.user-data > span{ position: relative; display: inline-block; max-width: 200px; }
div.instagram section.user-data > span.avatar{  width: 50px; height: 50px; background-size: cover; background-position: center center; background-repeat: no-repeat; }
div.instagram a.link{ position: absolute; display: inline-block; top: 0; left: 0; right: 0; bottom: 0; }

/* YOUTUBE VIDEO AND PODCAST */
div.video-podcast{ position: relative; display: inline-block; width: 100%; }

/*PODCAST*/
section#podcast h2{ position: relative; display: inline-block; width: 100%; background-image: url('../img/social/podcast-black.png'); background-size: 38px; background-position: 15%; background-repeat: no-repeat; } 
section#podcast h2 > a.goto{ position: absolute; display: inline-block; top: 0; left: 0; right: 0; bottom: 0; } 
div.item.carousel__photo > h3{ margin: .3em 0; }
div.item.carousel__photo > p{ font-size: 16px; line-height: 24px; }
div.item.carousel__photo > span.btn-list{ cursor: pointer; }
div.item.carousel__photo > audio{ max-width: 100%; } 
section#podcast .owl-stage-outer{ margin-bottom: 10px; }
section#podcast .owl-nav{ display: none; }

/* YOUTUBE */
section#youtube h2{ position: relative; display: inline-block; width: 100%; background-image: url('../img/social/youtube-black.png'); background-size: 38px; background-position: 15%; background-repeat: no-repeat; } 

@media(min-width: 1024px){
    header > div.nav-container.open-child{ height: 100px; background-color: #1C2E3D; }
    div.instagram{ width: 50%; float: left; }
    main div.newsletter{ width: 50%; float: right; }
    div.instagram section.image{ height: 350px; }
    section#podcast{ width: 50%; float: left; }
    section#youtube{ width: 50%; float: right; }
}

/* FOOTER */
footer{ position: relative; display: inline-block; margin-left: 0; margin-right: 0; width: 100%; height: 130px; }
footer > div{ display: inline-block; width: 49%; }
footer > div  a{ position: relative; display: inline-block; width: 100%; font-size: 16px; line-height: 24px; cursor: pointer; }
header input.search-bar.post-view{ margin-left: unset; left: 10px; }

@media(min-width: 768px){
    header ul.social{ display: inline-block; }
    header div.about-us{ max-width: 50%; left: 50px; bottom: 180px; }
    header input.search-bar{ max-width: 50%; left: 50px; bottom: 110px; }
    header input.search-bar.post-view{ margin-left: 70px; left: 60%; bottom: 90px; width: 24.5%;  }
    section#search-result{ max-width: 50%; left: 50px; max-height: 400px;}
    section#search-result.post-view{ top: 84%; left: unset; right: 46px; width: 25%; max-height: 400px;}
    main > div.newsletter > form{ position: relative; display: block; margin: 0 auto; top: 20px; left: unset;  right: unset; max-width: 480px; }
    div.instagram > h2, section#podcast h2, section#youtube h2{ background-position: 36%; }
}

@media(min-width: 1024px){
    header > div.nav-container > span.menu{display: none; }
    section#sidebar{ display: none; }
    main > div.newsletter > form{ position: relative; margin: 0 auto; top: 30%; right: unset; }
    header ul.category{ display: inline-block; right: 0; width: auto; }
    header ul.social{ width: 10%; }
    header div.about-us{ max-width: 40%; left: 50px; bottom: 200px; }
    header input.search-bar{ max-width: 40%; left: 50px; bottom: 130px; }
    section#search-result{ max-width: 40%; left: 50px; top: 77%; }
    h1.title{ left: 10%; width: 20%; }
    header input.search-bar.post-view{ width: 25%; }
    div.instagram > h2, section#podcast h2, section#youtube h2{ background-position: 30%; }
}

@media(min-width: 1440px){
    header{ height: 750px; } 
    header::before{ background: linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 100%); }
    header div.about-us{ max-width: 30%; left: 50px; bottom: 280px; }
    header input.search-bar{ max-width: 30%; left: 50px; bottom: 200px; }
    section#search-result{ max-width: 30%; left: 50px; top: 73%; }
    header input.search-bar.post-view{ margin-left: 34px; left: 70%;}
    header input.search-bar.post-view{ width: 24.5%; margin-left: 33px; }
    section#search-result.post-view{ top: 88%; right: 64px; }
    section.card-head{ height: 250px; }
    section.card-body{ max-height: 400px; }
    div.instagram > h2, section#podcast h2, section#youtube h2{ background-position: 36%; }
}


/* LIST OF ELEMENT */
div#list { text-align: center; }
div#list > * { position: relative; display: inline-block; width: 90%; }

/* DISPLAY POST */
div#post-display{ display: inline-block; }
div#post-display > p * { position: relative; max-width: 100%; }
div#post-display > h1{ text-align: center; }
.slide-in-top{ transform: translateY(-600px); }
.slide-in-top.active{ transform: translateY(0); transform-style: preserve-3d; transition: .3s ease-in-out; } 
.slide-in-left{ transform: translateX(400px); }
.slide-in-left.active{ transform: translateY(0); transform-style: preserve-3d; transition: .3s ease-in-out; }


div#post-display > p > img{ margin-right: 20px; }
div#post-display > ol, div#post-display > ul{ margin-left: 20px; }

div.related-container{ position: relative; display: inline-block; width: 100%;  }
div.related-post, div.related-argument, div.gallery{  position: relative;  display: none; width: 85%;  z-index: 9996; border-top-right-radius: 10px; border-top-left-radius: 10px; }
div.gallery{ display: inline-block; }

div.related-container > div > ul::before{ content: ''; position: relative; display:  inline-block; top: -12px; width: 80%; border: 1px solid #FCBDB2; }
div.related-container > div > ul > li{ position: relative; display: inline-block; width: 80%; }
div.related-container > div > ul > li > a:hover{ color: #FCBDB2; }
div.related-container > div > ul > li.active > a { color: #EA614A; font-weight: 600; font-size: 16px; }

div.related-container li.gallery{ margin: 0 auto; width: 60%; height: 200px; background-size: cover; background-position: top center; background-repeat: no-repeat; cursor: pointer; }
div.related-container li.gallery > video{ max-width: 100%; max-height: 100%; }

@media(min-width: 768px){
    h4.breadcrumb, div#post-display{ margin-left: 50px; width: 60%;  }
    div#post-display > p > img{ position: relative; display: inline-block; width: 100%!important; height: auto!important; }
    div.related-container{ top: -130px; width: 29%;  }
    div.related-post, div.related-argument{ display: inline-block;  }
}

@media(min-width: 1024px){
    div#list > *{ margin: 1%; width: 20%; }
}

@media(min-width: 1440px){
    h4.breadcrumb, div#post-display{ width: 65%; margin-left: 80px; }
}

div#review{ position: relative; margin: 0 auto 80px; width: 90%; }
div#review::before{ content: ''; position: relative; display:  inline-block; width: 100%; border: 1px solid #73AFBA; }
form{ position: relative; width: 100%; height: auto; overflow: hidden; }
input{  position: relative; margin: 10px 0; padding: 10px 5px; width: 100%; font-size: 16px; background-color: transparent; border: 1px solid transparent; border-bottom: 1px solid #1C2E3D; }
input:hover, input:active, textarea:hover, textarea:active{ border-bottom: 2px solid #73AFBA; } 
textarea{ position: relative; padding: 10px 5px; width: 100%; font-size: 16px; background-color: transparent; border: 1px solid transparent; border-bottom: 1px solid #1C2E3D; }
input.btn-submit{ position: relative; float: right; width: 160px; height: 40px; font-size: 16px; line-height: 24px; }

@media(min-width: 768px){
    span.input-container{ position: relative; display: inline-block; margin-right: 2.5%; width: 33%;}
    span > input{ position: relative; display: inline-block; width: 100%; }
    input, textarea{ width: 70%; margin-right: 10px; }
    input.btn-submit{ position: absolute; right: 0; bottom: 0; width: 160px; height: 40px; font-size: 16px; line-height: 24px; }
}

@media(min-width: 1440px){
    span.input-container{ width: 43%; }
    input, textarea{ width: 89%; }
}
span.text-danger{ position: relative; display: inline-block; padding: 5px 10px; width: 80%; height: auto; font-size: 13px; line-height: 21px; }
input + span.text-danger{ background-color: transparent; }

/* ALBUM */
div.album-display{ position: relative; display: inline-block; width: 90%; height: 450px; }
div.album-display > span{ position: relative; display: flex; background-size: cover; background-position: center center; background-repeat: no-repeat; }
div.album-display > span.image.active{ width: 90%; height: 70%; margin: 10px auto; }
div.album-display > ul{ position: relative; display: inline-block; width: 100%; height: 20%; }
div.album-display > ul * { height: 100%; }
div.album-display > ul li{ position: relative; display: inline-block; margin: 0 5px; width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat; cursor: pointer; }
div.album-display > ul li.active::after{ content: ''; position: absolute; display: inline-block; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.6); border-radius: 5px; }
div.album-display > video{ margin: 10px; max-height: 70%; max-width: 90%;}
div.album-display > ul li > video{ max-width: 100%; max-height: 100%; }

/* PAGINATORE */
ul.paginator{ position: absolute; display: inline-block; left: 0; right: 0; bottom: 10px; }
ul.paginator > li.btn{ position: relative; display: inline-block; border-radius: 50%; width: 40px; height: 40px; line-height: 40px; background-color: #fff; color: #000; }
ul.paginator > li.btn > a{ line-height: 40px; }
ul.paginator > li.btn.active { background-color: #73AFBA; color: #fff; }

span.field-validation-error{ 
    position: relative;
    display: block;
    margin: 5px auto;
    padding: 10px;
    width: 80%;
    height: auto;
    background-color: #E8594E;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
form input + label{ position: relative; display: block; margin: 0 auto; color: #E8594E; }


/* OWL CAROUSEL NAVIGATION */
.owl-nav > button{ position: absolute; top: 20px; bottom: 20px; width: 40px; font-size: 80px!important; color: #EA614A!important; }
.owl-nav > button.owl-prev{ left: 10px; }
.owl-nav > button.owl-next{ right: 0; }

@media(min-width: 768px){
    div.album-display{ height: 650px; }
    div#overlay.album > span#close{ max-width: none; }
}

@media(min-width: 1440px){
    div.album-display{ height: 800px; }
    div.album-display > span.image.active{ height: 80%; }
    div.album-display > ul{ height: 13%; }
    .owl-nav > button.owl-prev{ left: 20px; }
    .owl-nav > button.owl-next{ right: 20px; }
}

div#overlay > div.album-display div.owl-stage{ margin:0 auto }
div#overlay > div.album-display div.owl-nav > button{ top: 0; }
div#overlay > div.album-display div.owl-nav  > button.owl-prev{ left: 0px; }
div#overlay > div.album-display div.owl-nav  > button.owl-next{ right: 0px; }

@media(min-width: 768px){
    div#overlay > div.album-display > ul div.owl-item > li{ width: 95%; }
}


/* DISPLAY REVIEW */
div#user-review > section{ border-bottom: 1px solid #1C2E3D; }
div#user-review > section > span.head{ position: relative; display: inline-block; width: 100%; }
div#user-review > section > span.head > p{ font-size: 16px; line-height: 24px; }
div#user-review > section > span.head > p.date{ font-size: 14px; line-height: 21px; }
div#user-review > section > p{ font-size: 14px; line-height: 21px; }

/* PODCAST */
@media(min-width: 768px){
    div.podcast-container > div.item{ width: 40%; }
}

@media(min-width: 1440px){
    div.podcast-container > div.item{ width: 40%; }
}