@model PostModel

<h4 class="breadcrumb padding-left-small font-weight-400"> 
    @for(var i = 0; i <= Model.breadcrumb.Count - 1; i++){
        <a href="@Model.breadcrumb[i].slug">
            @if(i < Model.breadcrumb.Count - 1){
                @string.Concat(Model.breadcrumb[i].name, " >")
            } else {
                @Model.breadcrumb[i].name;
            }
        </a>
    }
</h4>

@Html.Partial("/Views/Partial/Post/_List.cshtml", Model)