<div id="addUser" class="content">
    
    <ul id="user" class="list"></ul>
    
</div>

<script src="~/js/album.js"></script>
<script src="~/js/user.js"></script>
<script>
    $(document).ready(user.init)
</script>    
    