@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Knewave|Nosifer|Titan+One');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
*
{ 
    margin: 0; 
    padding: 0; 
    outline: none; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    vertical-align: top; 
    text-align: left; 
    font-family: "Open-sans", "-apple-system","system-ui","roboto", "BlinkMacSystemFont", "Helvetica Neue",
    "Lucida Grande","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body { height: 100%; width: 100%; }
body 
{
	position: relative;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	background:rgba(255,255,255,1);
    color: #2E2B33;
    min-width: 320px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;    
    background-color: #fafafa;
}
h1 { font-size: 2.5em; font-weight: lighter; margin-bottom: .3em; margin-top: .1em; }
h2 { font-size: 2em; font-weight: lighter; margin: .6em 0; }
h3 { font-size: 2em; font-weight: lighter; margin: .6em 0; }
h4 { font-size: 1.2em; font-weight: bold; margin: .5em 0; }
p,li,a { font-size: 22px; line-height: 27px;  color: #2E2B33; font-family: "Open-sans", cursive; text-decoration: none; }
.color-white{ color: #fff!important; }
.color-black{ color:  #212121!important; }
.text-center{ text-align: center!important; }
.text-left{ text-align: left!important; }
.margin-bottom-xsmall{ margin-bottom: 10px!important; }
.margin-right-xsmall{ margin-right: 10px!important; }
.margin-top-small{ margin-top: 20px!important; }
.margin-remove{ margin: 0!important; }
.padding-left-remove{ padding-left: 0px!important; }
.hidden{ display: none!important; }
.margin-top-remove{ margin-top: 0px!important; }
.show-tablet{ display: none; }
main{ position: relative; display: inline-block; width: 100%; height: 100%; }

/*** Login ***/
div.form-container{ position: relative; display: inline-block; width: 100%; height: 100%; }
form{
    position: relative;
    margin: 0 auto;
    padding: 20px 0px;
    top: 20px;
    width: 90%;
    max-width: 500px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

input{
    position: relative;
    display: block;
    padding: 10px 20px;
    left: 10%;
    width: 80%;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #1C2E3D;
}
input:hover, input:active{ border-bottom: 2px solid #73AFBA; } 
span.text-danger{
    position: relative;
    display: inline-block;
    padding: 5px;
    left: 10%;
    width: 80%;
    font-size: 13px;
    line-height: 21px;
    color: #E8594E;
}
input.btn{
    padding: 0px;
    left: unset;
    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid transparent;
    border-radius: 40px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    cursor: pointer;
    text-transform: uppercase;
}
input.btn:hover{ opacity: .8; }
input.btn.btn-submit{ background-color: #73AFBA; }
form.login input.btn.btn-submit{ position: absolute; display: inline-block; bottom: 20px; right: 10%; }
