@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Knewave|Nosifer|Titan+One');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
*
{ 
    margin: 0; 
    padding: 0; 
    outline: none; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    vertical-align: top; 
    text-align: left; 
    font-family: "Montserrat", sans-serif, "-apple-system","system-ui","roboto", "BlinkMacSystemFont", "Helvetica Neue",
    "Lucida Grande","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body { height: 100%; width: 100%; }
body 
{
	position: relative;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	background:rgba(255,255,255,1);
    color: #2E2B33;
    min-width: 320px;
    -webkit-overflow-scrolling: touch;    
    background-color: #fafafa;
    overflow-x: hidden;
}
h1 { font-size: 2.5em; font-weight: lighter; margin-bottom: .3em; margin-top: .1em; }
h2 { font-size: 2em; font-weight: lighter; margin: .6em 0; }
h3 { font-size: 1.5em; font-weight: lighter; margin: .6em 0; }
h4 { font-size: 1.2em; font-weight: bold; margin: .5em 0; }
ul{ list-style-type: none; }
p,li,a { font-size: 18px; line-height: 27px;  color: #2E2B33; text-decoration: none; }

.color-black{ color:  #212121; }
.color-white{ color: #fff!important; }
.color-red{ color: #E8594E!important; }
.color-pink-light{ color: #FCBDB2; }
.color-blue-light{ color: #73AFBA; }
.color-blue{ color: #1C2E3D; }

.background-color-black{ background-color:  #212121; }
.background-color-white{ background-color: #fff; }
.background-color-red{ background-color: #E8594E; }
.background-color-pink-light{ background-color: #FCBDB2; }
.background-color-blue-light{ background-color: #73AFBA; }
.background-color-blue{ background-color: #1C2E3D; }

.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

.font-weight-600{ font-weight: 600; }
.font-weight-500{ font-weight: 500; }

.margin-xsmall{ margin: 10px; }
.margin-top-xsmall{ margin-top: 10px; }
.margin-left-xsmall{ margin-left: 10px; }
.margin-right-xsmall{ margin-right: 10px; }
.margin-bottom-xsmall{ margin-bottom: 10px; }

.margin-top-small{ margin-top: 20px; }
.margin-left-small{ margin-left: 20px; }
.margin-right-small{ margin-right: 20px; }
.margin-bottom-small{ margin-bottom: 20px; }

.margin-top-medium{ margin-top: 50px; }
.margin-left-medium{ margin-left: 50px; }
.margin-right-medium{ margin-right: 50px; }
.margin-bottom-medium{ margin-bottom: 50px; }

.margin-remove{ margin: 0; }

.padding-top-xsmall{ padding-top: 10px; }
.padding-left-xsmall{ padding-left: 10px; }
.padding-right-xsmall{ padding-right: 10px; }
.padding-bottom-xsmall{ padding-bottom: 10px; }

.padding-top-small{ padding-top: 20px; }
.padding-left-small{ padding-left: 20px; }
.padding-right-small{ padding-right: 20px; }
.padding-bottom-small{ padding-bottom: 20px; }

.padding-top-medium{ padding-top: 50px; }
.padding-left-medium{ padding-left: 50px; }
.padding-right-medium{ padding-right: 50px; }
.padding-bottom-medium{ padding-bottom: 50px; }

.padding-remove{ padding: 0px; }

.box-shadow{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.border-radius-small{ border-radius: 5px; }
.border-radius-medium{ border-radius: 20px; }

.btn{ padding: 0px; left: unset;  border: 1px solid transparent; cursor: pointer; text-transform: uppercase; background-size: contain; background-position: center center; background-repeat: no-repeat; }
.btn:hover{ opacity: .8; border-bottom: 1px solid transparent;}

.btn.close{ background-image: url('../img/close.png'); }
.btn.add, .btn.add-child{ background-image: url('../img/plus.png'); }
.btn.remove{ background-image: url('../img/delete.png'); }
.btn.edit{ background-image: url('../img/edit.png'); }
.btn.crop{ background-image: url('../img/crop.png'); }
.btn.logout{ background-image: url('../img/logout.png'); background-position: center center; background-repeat: no-repeat; }

.btn-rounded{ border-radius: 40px; }
.btn-circle{ border-radius: 50%; }

.hidden{ display: none; }

.show-tablet{display: none; }
.hidden-tablet{ transform: translateX(0px); transform-style: preserve-3d; transition: .3s ease-in-out; }

/** Switch **/
.btn-switch{ visibility: hidden; }
.btn-switch + label{ position: relative; display: block; margin: 0 auto; width: 60px; height: 30px; border-radius: 30px; background: #dad9df; cursor: pointer; transition: .25s ease-in-out; }
.btn-switch:checked + label{ box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1); }
.btn-switch + label::before{ content: ''; position: relative; display: inline-block; width: 30px; height: 30px; border-radius: 100%; background-color: #fff; box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd; transition: .25s ease-in-out; }
.btn-switch:checked + label::before{ left: 30px; box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3); transition: .25s ease-in-out; }
.btn-switch + label::after{ content: attr(data-off); position: absolute; display: inline-block; top: 6px; left: -115px; width: 110px; text-align: right; font-size: 14px; font-weight: 600; color: #2A363B; word-spacing: nowrap; transition: .25s ease-in-out; }
.btn-switch:checked + label::after{ content: attr(data-on); left: 70px; width: 110px; text-align: left; color:rgb(19, 191, 17); }
/** End switch **/

span.field-validation-error{ 
    position: relative;
    display: block;
    margin: 5px auto;
    padding: 10px;
    width: 80%;
    height: auto;
    background-color: #E8594E;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

main{ position: relative; display: inline-block; margin-top: 0; width: 100%; height: 100%; overflow-x: hidden; }

/*** Login ***/
div.form-container{ position: relative; display: inline-block; width: 100%; height: 100%; }
section.error{ position: relative; margin: 0 auto; width: 90%; max-width: 500px; }
form, div#overlay > div{ position: relative; margin: 0 auto; padding: 20px 0px; top: 20px; width: 90%; max-width: 500px; height: auto; }
input, select{ position: relative; margin: 0 auto; padding: 10px 5px; width: 80%; font-size: 16px; background-color: transparent; border: 1px solid transparent; border-bottom: 1px solid #1C2E3D; }
input:hover, input:active{ border-bottom: 2px solid #73AFBA; } 
input[disabled]{ opacity: .7; cursor: default; }
input[disabled]:hover{ border-bottom: 1px solid #1C2E3D; }
span.text-danger{ position: relative; display: inline-block; padding: 5px 10px; width: 80%; height: auto; font-size: 13px; line-height: 21px; }
input + span.text-danger{ background-color: transparent; }
form.login input.btn-submit{ position: relative; display: inline-block; left: 28%; bottom: 20px; right: 10%; width: 120px; height: 40px; font-size: 16px; line-height: 24px; }
form > span.user-image{ background-image: url('../img/account-blue.png'); background-size: 48px; background-position: center center; background-repeat: no-repeat; }

/*********Menu***********/
header{ position: relative; display: inline-block; width: 100%; }
header h1{ float: left; font-size: 26px; line-height: 39px;}
span.btn-hamburger{ 
    position: relative; 
    float: right;
    width: 40px; 
    height: 40px;
    background-image: url('../img/menu.png');
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center center;
}
div#sidebar{
    position: absolute;
    display: inline-block;
    top: 50px;
    left: 100%;
}
div#sidebar.active{ transform: translateX(0px)!important; left: 0; right: 0; bottom: 0; z-index: 9999;}
div.content{ position: relative; display: inline-block; width: 100%; height: 100%; }
span.user-image{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url('../img/account-blue.png'); 
    background-size: 48px; 
    background-position: center center; 
    background-repeat: no-repeat;
}
#logout{ position: absolute; width: 40px; height: 40px; top: 75px; right: 105px; background-size: 26px;  }
section p{ display: block; }

section.manage ul li{ margin-bottom: 10px; cursor: pointer; line-height: 45px; background-position: 10px center; background-repeat: no-repeat; background-size: 28px; }
section.manage ul li > a{ position: relative; display: inline-block; width: 100%; line-height: 45px; }
section.manage ul li.active{ background-color: #73AFBA; }
section.manage ul li.active:hover{ border: 0; }
section.manage ul li:hover{ border: 1px solid #fff; }

li#user{ background-image: url('../img/account.png');}
li#category{ background-image: url('../img/category.png');}
li#photo{ background-image: url('../img/image.png');}
li#video{ background-image: url('../img/video.png');}
li#podcast{ background-image: url('../img/podcast.png');}
li#argument{ background-image: url('../img/arguments.png');}
li#post{ background-image: url('../img/post.png');}



@media(max-width: 768px){
    .show-tablet{display: inline-block!important; }
    .hidden-tablet{ transform: translateX(770px) }
}
@media(min-width: 768px){
    div#sidebar{ top: 0; left: 0; bottom: 0; width: 300px; }
    main{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: unset; height: unset; }
    #sidebar + main{ top: 150px; }
    #sidebar.active + main{ left: 300px; }
    #logout{ right: 95px; }
}
@media(min-width: 1024px){
   div#sidebar + main{ top: 50px; left: 300px; }
}

section{ margin: 0 5px; }
section h2{ position: relative; display: inline-block; margin: 10px 0; width: auto; }
section h2 + .btn.add{ margin: 10px 0; float: right; z-index: 9998; }
section .btn.add{ position: relative; display: inline-block; width: 40px; height: 40px; }

/** Add element struct **/
div#overlay{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.9); text-align: center; z-index: 9999; }
div#overlay > span{ position: relative; display: block; margin: 0 auto; top: 100px; width: 90%; max-width: 500px; height: 40px; background-size: contain; background-position: right center; background-repeat: no-repeat; cursor: pointer; }
div#overlay > span.success{ height: 80px; font-size: 18px; line-height: 80px; font-weight: 600; background-color: #4caf50; }
div#overlay > form, div#overlay > div{ position: relative; margin: 0 auto; top: 100px; }
div#overlay > form > div, div#overlay > div > div{ margin: 0 auto; width: 80%; }
div#overlay > form input{ display: block; margin-bottom: 10px; }
div#overlay > form input.btn, div#overlay > div input.btn{ display: inline-block; margin-left: 10px; max-width: 120px; line-height: 40px; }
div#overlay > form input + label{ position: relative; display: block; margin: 0 auto; max-width: 80%; color: #E8594E; }
div#overlay > form select{ position: relative; display: block; margin-bottom: 10px; cursor: pointer; }



div#overlay p.confirm{ padding: 20px; }

div#select{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; z-index: 9999; }
div#select > span{ position: relative; display: block; margin: 0 auto; top: 100px; width: 90%; max-width: 500px; height: 40px; background-size: contain; background-position: right center; background-repeat: no-repeat; cursor: pointer; }
div#select > ul.image{
    position: relative;
    display: inline-block;
    top: 100px;
    width: 90%;
    max-width: 500px;
    min-height: 450px;
    overflow-y: scroll;
    text-align: center;
}
div#select > ul.image > li{
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media(max-width: 325px){
    div#overlay > form input.btn, div#overlay > div input.btn{ max-width: 105px; }
}

@media(min-width: 1024px){
    div#overlay > span{ top: 40px; } 
    div#overlay > form, div#overlay > div{ top: 40px; }
    div#select > span{ top: 40px; } 
    div#select > ul.image{ top: 40px; }
    section h2 + .btn.add{ float: none; margin-left: 20px; }
    div#overlay > form input.btn{ margin-left: 15px; max-width: 150px; }
}

ul.list li{ 
    margin: 0 auto 15px;
    padding-left: 40px; 
    height: 40px; 
    width: 90%;
    border-bottom: 1px solid #73AFBA; 
    background-size: 25px; 
    background-position: 5px center; 
    background-repeat: no-repeat; 
}
ul#user li{ background-image: url('../img/account-blue.png'); }
ul#category li { background-image: url('../img/category-blue.png'); }
ul#argument li { background-image: url('../img/folder.png'); }
ul.list li:hover{ border-bottom: 2px solid #73AFBA; }
ul.list li p{ position: relative; display: inline-block; width: auto; overflow: hidden; line-height: 40px; }
ul.list li p[active]{ padding-left: 40px; background-size: 26px; background-position: left center; background-repeat: no-repeat; }
ul.list li p[active="true"]{ background-image: url('../img/is-active.png'); }
ul.list li p[active="false"]{ background-image: url('../img/disabled.png'); }
ul.list li span{ float: right; margin-right: 10px; width: 35px; height: 35px; background-size: 26px; }

@media(min-width: 1024px){
    ul.list li span{ margin-right: 15px; }
}

@media(max-width: 325px){
    ul.list li p{ max-width: 150px; }
}

input[type="file"]{ display: none!important; }
input[type="file"] + label{
    margin: 10px auto!important;
    max-width: 280px!important;
    line-height: 40px;
    background-image: url('../img/upload.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
}
ul#photo, ul#video{ margin: 10px 0; text-align: center;}
ul#photo li, ul#video li{
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    padding: 0;
    width: 165px;
    height: 220px;
    border: 1px solid transparent;
    text-align: center;
}
ul#video li{ min-width: 200px; height: 140px; }
ul#photo li span, ul#video li span, ul#podcast li span{
    position: relative;
    display: inline-block;
    margin: 10px 0;
    width: 90%;
    height: 150px;
    float: none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

ul#photo li span.btn, ul#video li span.btn, ul#podcast li span.btn{ position: absolute; display: inline-block; width: 35px; height: 35px; background-size: 26px; z-index: 9997; }
ul#photo li span.btn.edit, ul#video li span.btn.edit, ul#podcast li span.btn.edit{ right: 10px; }
ul#photo li span.btn.remove, ul#video li span.btn.remove, ul#podcast li span.btn.remove{ right: 50px; }
ul#photo li p, ul#video li p, ul#podcast li p{ position: relative; display: inline-block; margin-top: 5px; width: 100%; line-height: 21px; text-align: center; }
ul#photo li:hover, ul#photo li:focus, ul#photo li:active{ border: 1px solid transparent; }
ul#video li > video{ position: relative; display: inline-block; margin-top: 10px; max-width: 175px; height: auto;}
form > span{
    position: relative;
    display: inline-block;
    width: 80%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
form > video{ position: relative; display: inline-block; max-width: 80%; height: auto; }

ul#podcast{ text-align: center; }
ul#podcast li{ position: relative; display: inline-block; margin: 5px; padding: 10px 0; width: 190px; height: 90px; text-align: center; border-bottom: 1px solid transparent; }
ul#podcast li span.btn{ margin: 0 5px; }
ul#podcast li p{ margin-top: 45px; }

@media(min-width: 768px){
    ul#photo, ul#video, ul#podcast{ margin: 10px; text-align: left; }
    ul#photo li{ height: 205px; width: 250px; }
    ul#video li{ height: 170px; width: 250px; }
    ul#video li > video{ max-width: 230px; }
    ul#podcast li{ width: 250px; }  
    form > span{  height: 250px;}
    
}

/* overlay crop */
div#overlay.crop > span{ max-width: unset; max-height: 100%; }
div#overlay.crop > div{ max-width: unset; }
div#overlay.crop > div > p{ margin-bottom: 20px; text-align: center; }
div#overlay.crop > div > img{ position: relative; display: inline-block; width: auto; max-width: 90%; height: auto; max-height: 750px; }
div#overlay.crop > div > video{ position: relative; display: inline-block; width: auto; max-width: 90%; height: auto; max-height: 750px; }
span.field-validation-valid{ height: auto; }