<div id="addArgument" class="content">
    <ul id="argument" class="list"></ul>
</div>

<script src="/adminroot/js/argument.js"></script>
<script src="/adminroot/js/album.js"></script>

<script>
    $(document).ready( function(){
        album.init();
    });
</script>