@model AdministratorModel;

<div class="form-container">
    <form method="POST" class="login box-shadow border-radius-small text-center">
        @Html.AntiForgeryToken()
        
        @Html.ValidationMessage("LoginError")

        <h3 class="text-center margin-remove font-weight-600"> TREA IN VIAGGIO </h3>
        <input asp-for="email" class="name" placeholder="Email">
        <span asp-validation-for="email" class="text-danger color-red"></span>

        <input asp-for="password" type="password" class="password" placeholder="Prassword">
        <span asp-validation-for="password" class="text-danger color-red"></span>

        <input asp-for="rememberMe" type="checkbox" class="remember-me btn-switch">
        <label for="rememberMe" data-off="non ricordarmi" data-on="ricordami"></label>


        <input type="submit" id="login" class="btn btn-submit text-center color-white box-shadow background-color-blue-light margin-top-small" value="Accedi">
    </form>
</div>
