<div id="addSiteTree" class="content padding-top-xsmall box-shadow border-radius-small">
    <ul id="siteTree" class="list category padding-xsmall"></ul>
</div>

<script src="/adminroot/js/lib/summernote.js"></script>
<script src="/adminroot/js/sitetree.js"></script>
<script src="/adminroot/js/album.js"></script>

<script>
    $(document).ready(function(){
        siteTree.init();
        album.init();
    });
</script>