<header class="show-tablet background-color-blue">
    <h1 class="color-white margin-xsmall padding-left-xsmall">TreA in viaggio</h1>
    <span class="btn-hamburger margin-xsmall"></span>
</header>
<section class="text-center">
    <h2> 
        @ViewBag.Title 
    </h2>
    
    <span id="add" class="btn btn-circle add background-color-blue"></span>
</section>