@model HomeModel

@Html.Partial("/Views/Partial/Home/_LastPost.cshtml", Model)

@Html.Partial("/Views/Partial/Home/_Newsletter.cshtml", Model)

<div class="instagram padding-top-xsmall">
    <h2 class="text-center">Instagram</h2>
    <div id="instafeed" class="margin-bottom-xsmall"></div>
</div>

<h2 class="text-center">Video</h2>
<p class="text-center">Collegare canale youtube</p>


<h2 class="text-center">Podcast</h2>
<p class="text-center">Collegare canale spotify</p>

@Html.RouteLink("blog", "blog")

<script src="~/js/home.js"></script>
<script>
    $(document).ready(home.init);
</script>
