<div id="sidebar" class="background-color-blue hidden-tablet">
    <section class="user-data text-center margin-top-small margin-bottom-small">
        <span class="user-image background-color-white"></span>
        <p class="color-white text-center margin-top-xsmall">Username</p>
    </section>
    <section class="manage margin-top-small margin-bottom-small">
        <ul class="control-list margin-right-small margin-left-small">
            <li id="users" class="color-white padding-left-medium border-radius-small">Utenti</li>
            <li id="arguments" class="color-white padding-left-medium border-radius-small">Argomenti</li>
            <li id="posts" class="color-white padding-left-medium border-radius-small">Post</li>
            <li id="photos" class="color-white padding-left-medium border-radius-small">Foto</li>
            <li id="videos" class="color-white padding-left-medium border-radius-small">Video</li>
        </ul>
    </section>
</div>