@model PodcastModel 

<h2 class="text-center font-weight-500 padding-top-small padding-bottom-small margin-remove">Podcast</h2>
<div class="margin-bottom-medium padding-small podcast-container text-center">
    @foreach (var podcast in Model.podcasts)
    {
        <div class="item carousel__photo text-center border-radius-small box-shadow background-color-white padding-small">
            <h3>@podcast.name.Replace(".mp3", "")</h3>
            <p class="margin-bottom-xsmall">@podcast.description</p>                        
            <audio class="border-radius-small" controls><source src="@podcast.path"></audio>                    
        </div>
    }
</div>