@model AdministratorModel;

<div class="form-container">
    <form method="POST" class="login box-shadow border-radius-small text-center">
        @Html.AntiForgeryToken()
        
        @Html.ValidationMessage("LoginError")

        <h3 class="text-center margin-remove font-weight-600"> TRE A IN VIAGGIO </h3>
       
        <input asp-for="Email" class="name" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger color-red"></span>

        <input asp-for="Password" type="password" class="password" placeholder="Prassword">
        <span asp-validation-for="Password" class="text-danger color-red"></span>

        <input asp-for="RememberMe" type="checkbox" class="remember-me btn-switch">
        <label for="RememberMe" data-off="non ricordarmi" data-on="ricordami"></label>


        <input type="submit" id="login" class="btn btn-rounded btn-submit text-center color-white box-shadow background-color-blue-light margin-top-small" value="Accedi">
    </form>
</div>
